/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estiliza o corpo da página */
body {
    font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
    background: url("../imagens/space.png") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #DDDDDD; /* Cor de fundo da página */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
}

header{
    margin-top: -40px;
    width: 100%;
    background-color: transparent;
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #000000; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
    text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.6), -1px 1px 15px rgba(255, 255, 255, 0.6), 1px -1px 15px rgba(255, 255, 255, 0.6), -1px -1px 15px rgba(255, 255, 255, 0.6);
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
}

/* Estiliza os inputs dentro das seções */
.pesquisa {
    border: 1px solid rgb(255, 255, 255); /* Remove a borda padrão */
    padding: 0.8rem; /* Espaçamento interno */
    border-radius: 0.5rem; /* Borda arredondada */
    margin-top: -0.5rem; /* Espaçamento abaixo dos inputs */
    margin-bottom: 0.5rem; /* Espaçamento abaixo dos inputs */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    box-shadow: 2px 2px 50px rgba(255, 255, 255, 1), 2px 2px 50px rgba(255, 255, 255,1) inset;
}

.pesquisa select{
    font-size: 1.5rem;
    margin: 0.5rem;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.2rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 0.5rem; /* Borda arredondada */
    background-color: #30475E; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1.5rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #6785a3; /* Muda a cor de fundo ao passar o mouse */
    color: navy;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 56vh; /* Altura máxima da caixa de resultados */
    margin-top: -2rem; /* Espaçamento acima da caixa de resultados */
    margin-bottom: 50px;
    padding: 0; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    min-width: 100%;
    background: rgba(0, 0, 0, 0.6); /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 0; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 4px 4px 12px rgba(255, 255, 255, 0.2), -4px 4px 6px rgba(255, 255, 255, 0.2), 4px -4px 6px rgba(255, 255, 255, 0.2), -4px -4px 6px rgba(255, 255, 255, 0.2); /* Sombra leve */
    box-sizing: border-box;
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
#nome {
    background-color: rgb(90, 90, 90);
    text-align: center;
    color: #000000; /* Cor do texto dos links */
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
    border-radius: 0.6rem 0.6rem 0 0;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

#dados{
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    height: 49vh;
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
    scrollbar-track-color: transparent;
}

#dados::-webkit-scrollbar {
    width: 0;
  }
  
  #dados::-webkit-scrollbar-track {
    background: transparent;
  }
  
  #dados::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
    padding: 0 0.8rem;
}

.char-box{
    margin: 8px 0;
    color: white;
}

.char-chave{
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.char-value{
    font-size: 22px;
    font-style: italic;
    color: white;
}

/* Estiliza o rodapé da página */
footer {
    background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo do rodapé */
    color: #000000; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1.0rem; /* Tamanho da fonte */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    .resultados-pesquisa {
        width: 40rem; /* Largura da caixa de resultados em telas menores */
        height: 40vh; /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem; /* Tamanho da fonte dos títulos em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
    }

    section button {
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%; /* Largura da caixa de resultados em telas pequenas */
        height: 50vh; /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
}
